.ut-app-menu__site {
  cursor: pointer;
  background-color: #d8d8d8;
  border-radius: 1px;
  position: relative;
  text-decoration: none;
  width: 80px;
  height: 80px;
  font-size: 12px;
  
  .ut-app-menu__site__icon {
    font-size: 36px;
  }
}

.v-navigation-drawer__content {
  .ut-app-menu__site {
    width: 80px;
    height: 80px;
    font-size: 12px;

    .ut-app-menu__site__icon {
      font-size: 36px;
    }
  }
}

.ut-app-menu__site:hover:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 1;
}
