.ut-app-bar-title__img {
  width: 36px;
  margin-right: 5px;
}

.ut-app-bar-title__page {
  font-weight: bold;
}

.ut-app-bar-title__website {
  font-size: 16px;
}

.ut-app-bar-title {
  display: flex;
  align-items: center;
}

// .ut-app-bar-title__title {
//   display: inline-block;
// }

// .ut-app-bar-title__title > * {
//   display: inline-block;
//   margin-right: 5px;
// }
