$ut-primary: #00528D;

$ut-level-list: error warn info success;
$ut-error-color: #b00020;
$ut-warn-color: #db5933;
$ut-info-color: #00528D;
$ut-success-color: #0C8346;
$ut-accent-color-list: $ut-error-color $ut-warn-color $ut-info-color $ut-success-color;
$ut-text-color-list: #3A4651 #A0A2A4;
$ut-ui-color-list: #0F0F0F #151515 #3A4651 #D9D9D9 #F8F8F8 #FAFAFA;
$ut-table__row-color-rgba: rgba(0, 0, 0, .03);
$ut-table__row-color-rgb: #f7f7f7;